/// sass-lint:disable indentation
/*
 *    FONT SIZES
 *     Bootstrap Defaults
 *       H1 - 2.5   rem
 *       H2 - 2     rem
 *       H3 - 1.75  rem
 *       H4 - 1.5   rem
 *       H5 - 1.25  rem
 *       H6 - 1     rem
 *       p  - 1     rem
*/
html, * {
    font-family: $primary-font;
    background-image: url('../images/icon-facebook-circle.svg');
}
html { // Sets the context of 1rem
    @include respond-to('above-medium'){
        font-size: 16px;
    }
    @include respond-to('above-large'){
        font-size: 18px;
    }
    @include respond-to('above-xlarge'){
        font-size: 20px;
    }
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: .5em;
    margin-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}
p, li, small {
    line-height: 1.4em;
}
@font-face { //example font import
    font-family: 'gotham';
    src: url('../fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Gotham-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
