// Colors
$brand-primary   : hsl(222, 49%, 28%);
$brand-secondary : hsl(164, 73%, 41%);
$brand-accent    : hsl(210, 3%, 75%);
$font-dark       : hsl(345, 6%, 13%);
$font-accent     : darken($brand-accent, 20%);
$font-light      : hsl(0, 0%, 90%);

$colors: (
    'brand-primary'   : $brand-primary,
    'brand-secondary' : $brand-secondary
);

// Screens
$screen-sizes: (
    'xsmall' : 400px,
    'small'  : 576px,
    'medium' : 768px,
    'large'  : 992px,
    'xlarge' : 1200px
);
$breakpoints: ();
@each $key, $value in $screen-sizes {
    $screen: map-get($screen-sizes, $key);
    $breakpoints: map-merge($breakpoints, ('below-#{$key}': (max-width: $screen) ) );
    $breakpoints: map-merge($breakpoints, ('above-#{$key}': (min-width: $screen) ) );
    $breakpoints: map-merge($breakpoints, ('below-#{$key}-max': (max-width: $screen - 1) ) );
    $breakpoints: map-merge($breakpoints, ('above-#{$key}-max': (min-width: $screen + 1) ) );
}

// Typography
$primary-font: 'gotham', Helvetica, sans-serif;

// Layouts
$header-height          : 5rem;
$footer-height          : 2.5rem;
$major-section-break    : 3rem;
$major-section-break_sm : 2rem;
$minor-section-break    : 2rem;

//menus
$stacked-menu-height: 2rem;

// Transitions
$t-s : 0.15s;
$t-l : 0.5s;

// Bootstrap Overrides
$enable-flex        : true;
$main-sm-columns    : 12;
$sidebar-sm-columns : 4;


$animation-length: 1s;
